<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button [routerLink]="['/login']" default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Perfil de Usuario</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>Ingrese Informacion Adicional</h1>
  </div>

<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input [(ngModel)]="firstName"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Apellido</ion-label>
  <ion-input [(ngModel)]="lastName"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Nivel educacional</ion-label>
  <ion-input [(ngModel)]="educationLevel"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Fecha de nacimiento</ion-label>
  <br>
  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="birthDate"></ion-datetime>
</ion-item>

<div class="ion-text-center ion-margin-top">
  <ion-button expand="full" color="light" (click)="clearFields()">Limpiar</ion-button>
  <ion-button expand="full" (click)="presentAlert()">Mostrar</ion-button>
</div>
