

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [routerLink]="['/home']" default-href="#"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>ERROR</h1>
    <p>El usuario y contraseña no coinciden</p>
    <h6>Para reintentar presione el boton </h6>
    <br>
    <ion-button size="large" routerLink="/home">Volver</ion-button>
  </div>
</ion-content>


