
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-tittle" size="3rem">
      Bienvenido!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <div>
      <ion-button color="secondary" size="large" [routerLink]="['/login']" routerLinkActive="router-link-active" fill="solid">Iniciar sesion</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>ManzanadeuS-App</ion-title>
  </ion-toolbar>
</ion-footer>
